body{
    background-color: linen;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    text-align: center;
    padding: 2em;
    color:sienna;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 8, 255);
    border: 1px solid magenta;
    font-size: xx-large;
    margin: auto 500px;
    padding: 2em 0;
    border-radius: 2em;
    border:5px solid;
    border-color: orange white green white;
    background-color: white;
}